body {
  background-color: #476072;
}


/* css for room.hbs */

#video-display-here {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;    
}

.myVideo {
  height: 35em;
  width: 100%;
  object-fit: cover;
}

video {
  width: 100%;
  object-fit: fit;
  margin-right: 2em;
  margin-left: 5em;
  padding-right: 1em;
}

/* toggle in label designing */
.toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 52px;
  background-color: red;
  border-radius: 30px;
  border: 2px solid gray;
}

/* After slide changes */
.toggle:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  top: 1px;
  left: 1px;
  transition: all 0.5s;
}

/* Toggle text */
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Checkbox checked effect */
.checkbox:checked+.toggle::after {
  left: 49px;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked+.toggle {
  background-color: green;
}

/* Checkbox vanished */
.checkbox {
  display: none;
}